<div class="FadeIn">
	<div id="balanceSettinsContainter">
	</div>
	<div>
		<input type="button" value="Start" class="Control Button" id="startButton"></input>
		<input type="button" value="Stop" class="Control Button" id="stopButton"></input>
		<input type="button" value="Load" class="Control Button" id="loadButton"></input>
		<input type="button" value="Save" class="Control Button" id="saveButton"></input>
	</div>
</div>
