<div class="FadeIn">
	<canvas style="height:300px; width:100%" id="gyroCanvas"></canvas>
	<center>	
		<span  class="Control Button" id="fButton">Forward</span>
		<br/>
		<span  class="Control Button" id="lButton">Left</span>
		<span class="Control Button" id="rButton">Right</span>
		<br/>
		<span class="Control Button" id="bButton">Backward</span>

		<div style="height:150px"></div>
		<input type="button" value="Start" class="Control Button" id="startButton"></input>
		<input type="button" value="Stop" class="Control Button" id="stopButton"></input>
	</center>
</div>
