:root {    
  --nav-menu-width: 5em;
  --bottom-menu-height: 3em;
  --bottom-menu-background: #cacaca;
  --control-border-radius: 5px;
  --control-padding:  10px 20px;
  --control-font-size: 18px;
  --control-background: white;
  --slider-background: #999;
  --slider-handle: #5c8;
  --background: #eee;
  --foreground: #555;
  --shadow-color: #00000050;
}
