body {
	background: var(--background); 
	color: var(--foreground);
	font-family: Sans;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.Slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: var(--slider-background);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--slider-handle);
  cursor: pointer;
  
  box-shadow: 0px 2px 4px var(--shadow-color);
}

.Slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--slider-handle);
  cursor: pointer;
}

.Control {
	padding: var(--control-padding);
	border-radius: var(--control-border-radius);
	border: 0px;
	margin: 3px;
	font-size: var(--control-font-size);
	background: var(--control-background);
	box-shadow: 0px 2px 4px var(--shadow-color);
}

.Button {
	cursor: pointer;
	display: inline-block;
	user-select: none; 
}

.Button:active{
	box-shadow: 0px 1px 2px var(--shadow-color);
}

.ContentHolder {	
	overflow-y: hidden;
	display:flex;
	height:100%;
}

.Content {
	padding:  8px 8px var(--bottom-menu-height) 8px;
	overflow-y: auto;
	width: 100%;
}

.Icon{
	height: 2.0em;
  vertical-align: middle;
  margin: 8px;

}

.IconButton{
  opacity: 0.3;
}

.Selected {
	opacity: 1.0;
}

.Menu {
  height: var(--bottom-menu-height);
  position: absolute;
  bottom: 0;
  width: 100%;
	text-align: center;
	background: var(--bottom-menu-background);
}

.SlideContainer{
	
}

.FadeIn {
  animation: fadeIn ease 0.2s;
}

.FadeOut {
  animation: fadeOut ease 0.2s;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}


